#heading{
   height: 200px;
   background-color: #2B3856;
   color: #FFFFFF;
   padding-left: 30px;
   font-family: "Times New Roman";
}
#e {
   height: 420px;
   width: 280px;
   border: 1px solid #111111;
   border-radius: 5px;
   margin-right: 5px;
   margin-left: 20px;
 }

.photos{
   position: absolute;
   top: 60px;
   left: 0;
   width: 100%;
}

.event{
   position: absolute;
   left: 0;
   height: 40px;
   width: 100%;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   background-color: #4C4646;
   padding:3px 0px 2px 5px;
   font-size: 20px;
   font-family: verdana,Geneva,sans-serif;;
   color: #FFFFFF;
}

.desc{
   position: absolute;
   top: 300px;
}

#col-1{
	border: 2px solid red;
}


.image{
	position: absolute;
	top: 0px;
	opacity: 0.5;

}

#b1{
	position: absolute;
	background-color: #708090;
	border-radius: 8px;
	top: 250px;
	left: 570px;
	color: white;
	width: 150px;
	height: 40px;
	z-index: 1;
}

#img{
	width:400px;
	height: 200px;
}

#b1:hover{
	background-color: white;
	box-shadow: 0px 4px 4px;
	color: black;
}

#detail{
	background-color: #2F4F4F;
	border-radius: 10px;
	color: white;
}

#overview{
	background-color: #2F4F4F;
	border-radius:5px;
	color: white;
	height: 200px;

}
